.form_div{
    border: 1px solid rgb(104, 48, 91);
    height: 450px;
    width: 400px;
    margin: 70px auto;
    border-radius: 30px;
}
h1{
    margin: 10px 100px;
    color: rgb(104, 48, 91);
}
#myForm{
    margin: 45px;
}
#myForm label{
    float: left;
    color: rgb(39, 16, 37);
    font-weight:bold;
}
#myForm input:not(#signup), select{
    float: right;
    border: 2px solid rgb(39, 16, 37);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    width: 110px;
    height: 4px;
    background-color: rgb(153, 118, 145);
    border: none;
}
#signup{
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(153, 118, 145);
    color: antiquewhite;
    margin-top: 40px;
}
#delete-btn, #fetch-btn, #update-btn{
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    border-radius: 10px;
    color: antiquewhite;
    margin: auto;
    width: 75px;
    text-align: center;
}
#delete-btn{
    background-color: red;
}
#fetch-btn{
    background-color: coral;
}
#update-btn{
    /* margin-left: 550px; */
    background-color: green;
}
table{
    margin-left: 250px;
}
#myTable{
    display: none;
    border-collapse: collapse;
}
th{
    border: 2px solid rgb(65, 8, 60);
    height: 40px;
    font-weight: 1000;
    color: rgb(73, 20, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    background-color: blanchedalmond;
}
td{
    border: 2px solid rgb(65, 8, 60);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#reset-btn{
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: rgb(219, 76, 76);
    color: antiquewhite;
    margin-left: 120px;
    margin-top: 50px;
}

nav li{
    list-style-type:none;
    padding: 20px;
    text-decoration:none;
    /*border: 1px solid black;*/

}
nav{
    display: flex;
    width: 100%;
    background-color: rgb(211, 82, 82);
    justify-content: flex-end;
    height: 70px;
    align-items: center;
}
a{
    color: aliceblue;
}
a:link{
    text-decoration: none;
}
nav ul li a:hover{
    color:gray;
}
#signin_div{
    border: 1px solid rgb(104, 48, 91);
    height: 200px;
    width: 400px;
    margin: 20px auto; 
    padding: 50px 20px;
    border-radius: 30px;
}
label{
    float: left;
    color: rgb(39, 16, 37);
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#signin_div input{
    border: 2px solid rgb(39, 16, 37);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#user_name{
    margin-left: 60px;
}
#pass{
    margin-left: 72px;
}
#fields{
    margin: 30px 40px;
}
#login{
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(153, 118, 145);
    color: antiquewhite;
    
    margin-left: 175px;
}
#login_head{
    margin-top: 0;
}

#delete_user{
    margin: auto;
    height: 200px;
    width: 400px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10%;
}